.header {
    width: 100%;
    height: 70px;
    background-color: rgba(187, 205, 110, 0.9);
    display: flex;
    align-items: center;
}

.innerheader {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.catwrap {
    display: flex;
    justify-content: space-between;
    width: 800px;
    height: 100%;
    
}

.catwrap > div {
    width: 120px ;
    height: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
}

.catwrap > div > a {
    display: inline;
    color: white;
    font-size: 17px;
    text-decoration: none;
    
}

.catwrap > div > a:hover {
    font-weight: bold;
    font-size: 19px;
    /* text-shadow: 1px 1px 1px grey; */
}

.tailwrap {
    width: 120px;
    margin-left: 50px;
    display: flex;
    justify-content: space-between;
}

.tailwrap > div > a {
    color: white;
    font-size: small;
    text-decoration: none;
}

.tailwrap > div >a:hover {
    font-weight: bold;
}

.whitelogo1 {
    width: 260px;
    height: 50px;
}

.communityMenu {
    width: fit-content;
    height: 50px;
    /* background-color: aquamarine; */
    border: solid rgba(187, 205, 110, 0.9);
    border-width: 0px 2px 2px 2px;
    position: absolute;
    top: 70px;
    display: flex;
    align-items: center;
}

.commCat {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0px 30px 0px 30px;
}

.noticeMenu {
    width: fit-content;
    height: 50px;
    /* background-color: darkkhaki; */
    border: solid rgba(187, 205, 110, 0.9);
    border-width: 0px 2px 2px 2px;
    position: absolute;
    top: 70px;
    display: flex;
    align-items: center;
}

.noticeCat {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0px 30px 0px 30px;
}