@import url("https://fonts.googleapis.com/css?family=Black+Han+Sans:400");
@import url("https://fonts.googleapis.com/css?family=Black+Han+Sans&display=swap&subset=korean");

.header {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgb(230, 230, 230);
  background-color: white;
  box-sizing: border-box;
}

.innerheader {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.logo {
  height: 100%;
  color: #1d5902;
  font-size: 2.3em; /* 2.6em*/
  font-family: "Black Han Sans";
  font-weight: 500;
}

.catwrap {
  display: flex;
  justify-content: space-between;
  width: 80%;
  height: 100%;
}

.catwrap > div {
  width: 120px;
  height: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
}

.catStyle {
  display: flex;
  align-items: center;
  width: 75%;
  height: 70px;
  justify-content: center;
  box-sizing: content-box;
  color: black;
  font-size: 1.1rem;
  font-weight: 500;
}

.catwrap .active {
  font-weight: bold;
  font-size: 19px;
  transition-duration: 0.3s;
  border-bottom: 2px solid black;
}

.catStyle:hover {
  border-bottom: 2px solid black;
}

.tailwrap {
  width: 300px;
  height: 100%;
  margin-left: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.joinbtn {
  display: flex;
  width: fit-content;
  height: 100%;
  align-items: center;
}

#mypageLink {
  display: flex;
  height: 100%;
  align-items: center;
}

.tailwrap > div > a {
  color: black;

  text-decoration: none;
  display: flex;
}

.tailwrap > div:first-child {
  font-size: 17px;
}

.tailwrap > div:nth-child(2) {
  font-size: 12px;
}

.tailwrap > div > a:hover {
  font-weight: bold;
}

.loginedProfileImg {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  margin-right: 10px;
  border: solid black 1px;
}

.communityMenu {
  width: fit-content;
  height: 40px;
  border-width: 0px 2px 2px 2px;
  position: absolute;
  top: 70px;
  display: flex;
  align-items: center;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.commItem {
  color: grey;
}

.commItem:hover {
  color: black;
  transition-duration: 0.5s;
}

.commCat {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0px 30px 0px 30px;
}

.noticeMenu {
  width: fit-content;
  height: 40px;
  border-width: 0px 2px 2px 2px;
  position: absolute;
  top: 70px;
  display: flex;
  align-items: center;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.noticeItem {
  color: grey;
}

.noticeItem:hover {
  color: black;
  transition-duration: 0.5s;
}

.noticeCat {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0px 30px 0px 30px;
}

.skillsMenu {
  width: fit-content;
  height: 40px;
  border-width: 0px 2px 2px 2px;
  position: absolute;
  top: 70px;
  display: flex;
  align-items: center;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.skillsItem {
  color: grey;
}

.skillsItem:hover {
  color: black;
  transition-duration: 0.5s;
}

.skillsCat {
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0px 30px 0px 30px;
}
