.layout {
    display: flex; 
    min-height: 100vh; 
    flex-direction: column;
}

.main {
    flex: 1;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    /* background-color: aquamarine; */
}