.ql-align-center {
  text-align: center;
}

.ql-align-right {
  text-align: right;
}

.noticeContent ol {
  list-style: auto;
  padding-left: 1.5em;
}
.noticeContent ul {
  list-style: disc;
  padding-left: 1.5em;
}

.noticeContent h1{
  font-size: 2em;
}

.noticeContent h2{
  font-size: 1.5em;
}

.noticeContent h3{
  font-size: 1.17em;
}

.noticeContent img{
  max-width: 1140px;
}

/* NoticeList */
#noticeTable {
  width: 100%;
  margin: 0 auto;
  table-layout: fixed;
  white-space: nowrap;
  height: max-content;
  border-collapse: collapse;
  border-radius: 10px;
  border-style: hidden;
  box-shadow: 0 0 0 1px rgba(150, 150, 150, 0.3);
}

.table > thead > tr > th {
  background: rgb(245, 245, 245);
  border-bottom: 1px solid rgba(150, 150, 150, 0.3);
  padding: 15px 5px;
  text-align: center;
}

.table > tbody > tr > td {
  margin-left: 100px;
  border-top: 1px solid rgba(150, 150, 150, 0.3);
  padding: 14px;
}

.table > tbody > tr:hover {
  background-color: rgba(140, 191, 117, 0.1);
  border-radius: 0;
  border-bottom-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

#noticeTable .noticeNo {
  width: 50px;
  text-align: center;
}

#noticeTable .noticeTitle {
  width: 78%;
  min-width: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#noticeTable .noticeTitle a {
  cursor: pointer;
  color: #0d0d0d;
}

#noticeTable .noticeDate {
  width: 150px;
  text-align: center;
}
/* 검색바 */

#noticeSearchBar {
  margin: 0 auto 15px;
  display: flex;
  height: 40px;
  width: 100%;
  justify-content: flex-end;
}

#noticeSearchBar input[type="text"] {
  box-sizing: border-box;
  border: 1px solid rgb(178, 178, 178);
  border-radius: 3px;
  width: 300px;
  height: 40px;
}

#noticeSearchBar input[type="text"]:focus-visible {
  outline: 2px solid rgb(187, 205, 110);
}

#noticeSearchBar button.askRegButton {
  font-family: Pretendard-Regular;
  font-size: 1rem;
  color: white;
  background: #8cbf75;
  margin-right: 10px;
}




/* 페이지네이션 */

.noticePageNation {
  margin-top: 40px;
}

.noticePageNation > div {
  align-items: center;
}


/* RegNotice */
#noticeRegContainer {
  margin: 0 auto;
  max-width: 1172px;
}

#noticeRegContainer .ql-editor {
  min-height: 400px;
}

/* NoticeDetail */
.noticeDetailMainDiv {
  border: 1px solid rgba(150, 150, 150, 0.3);
  border-radius: 10px;
  width: 100%;
}

.noticeDetaildiv {
  background-color: rgb(245, 245, 245);
  border-bottom: 1px solid rgba(150, 150, 150, 0.3);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.noticeDetailDivB {
  background-color: rgb(245, 245, 245);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.noticeDetailDivB > div {
  border-top: 1px solid rgba(150, 150, 150, 0.3);
  display: flex;
  justify-content: baseline;
}

.noticeDetailDivB > div > p {
  padding: 20px;
  width: 50px;
}

.noticeDetailDivB > div > a {
  padding: 20px;
  text-decoration: none;
  color: black;
  width: 85%;
}

.otherNotice{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.noticeContent{
  padding: 30px;
  line-height: 1.2;
}

.noticeBottom .detailListBtn {
  width: 100px;
  padding: 15px 20px;
  border-radius: 24px;
  background-color: rgb(230, 230, 230);
  font-weight: 700;
  margin: 50px auto 0;
  font-size: 18px;
  text-align: center;
  color: black;
}

.noticeBottom .detailListBtn:hover {
  background-color: #000;
  color: white;
}

.btnBox{
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.noticeRegButton{
  width: 150px;
  margin: 0 10px !important;
}