.courseSelector {
  width: 100%;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.tabWrapper {
  width: 100%;
  height: 60px;
  /* background-color: yellowgreen; */
  display: flex;
}

.tabWrapper > div {
  text-align: center;
  line-height: 60px;
  width: 50%;
  height: 100%;
  font-size: 20px;
  font-weight: bold;
  border: 1px solid rgb(241, 241, 241);
  box-sizing: border-box;
}

.selectListWrapper > ul {
  border: 1px solid rgb(241, 241, 241);
  box-sizing: border-box;
  width: 50%;
  height: 100%;
  background-color: white;
  padding: 10px 20px;
}

.upperList {
  /* width: calc(50% - 20px); */
  /* background-color: violet; */
  font-size: 18px;
  line-height: 1.7;
  padding-left: 20px;
}

.lowerList {
  /* width: calc(50% - 20px); */
  /* background-color: skyblue; */
  font-size: 17px;
  line-height: 1.7;
  padding-left: 20px;
  color: #777;
}

.selectListWrapper {
  width: 100%;
  height: fit-content;
  display: flex;
  border: 1px solid black;
  border-top: 0;
  box-sizing: border-box;
}

.selected {
  width: 100%;
  min-height: 150px;
  background-color: tomato;
}
