.courseCardTitle {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  white-space: normal;
}

.courseInfo {
  height: 130px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
