.mypageInnerContainer {
  width: 760px;
  min-height: 600px;
  border-radius: 15px;
  box-shadow: 10px 10px 10px 1px rgb(190, 190, 190);
}

.frameTitle {
  height: 45px;
  background-color: rgba(187, 205, 110, 0.88);
  border-radius: 15px 15px 0 0;
  margin-top: 40px;
  display: flex;
  align-items: center;
}

.frameTitle h2 {
  color: white;
  font-size: 1.5em;
}

.backBtn {
  color: white;
  margin-right: 7px;
}

.frameContent {
  padding: 20px 40px;
}

.innerContainer {
  width: auto;
  min-height: 500px;
}

h1 {
  color: rgb(107, 83, 67);
  font-size: 1.3em;
}
