.mypageInnerContainer {
  width: 760px;
  min-height: 600px;
  border-radius: 15px;
  box-shadow: 5px 6px 22px lightgray;
  margin-bottom: 30px;
}

.frameTitle {
  height: 45px;
  border-radius: 15px 15px 0 0;
  margin-top: 40px;
  display: flex;
  align-items: center;
}

.frameTitle h2 {
  color: #777;
  font-size: 1.5em;
}

.backBtn {
  color: #1d5902;
  margin-right: 7px;
}

.frameContent {
  padding: 20px 40px;
}

.innerContainer {
  width: auto;
  min-height: 500px;
}
