.mdfContainer {
  width: 900px;
  height: 700px;
  margin: 100px auto;
  border-radius: 15px;
  box-shadow: 5px 6px 22px lightgray;
  display: flex;
  flex-direction: column;
  align-items: center;
}
