.mdfContainer {
  width: 900px;
  height: 650px;
  margin: 80px auto 40px;
  border-radius: 15px;
  box-shadow: 5px 6px 22px lightgray;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0 0;
}

.mdfTitle {
  color: #0d0d0d;
  font-size: 2.5rem;
}

.avatar {
  margin-top: 40px;
}

.profilePicMdfBtns {
  margin-top: 30px;
  width: 230px;
  display: flex;
  justify-content: space-between;
}

.profilePicDeleteBtn {
  width: 90px;
}

.nickname {
  margin-top: 30px;
  width: 350px;
}

.nicknameTitle {
  margin: 20px 0;
  font-size: 1.7em;
}

.nicknameInput {
  width: 350px;
  height: 50px;
  background-color: rgba(255, 255, 255, 0);
}

.profileMdfBtns {
  margin: 70px 0;
  width: 300px;
  display: flex;
  justify-content: space-between;
}

.profileCancelBtn,
.profileApplyBtn {
  width: 135px;
  height: 42px;
  font-size: 1.1em !important;
  font-weight: bold !important;
  box-shadow: none !important;
}
