.mdfContainer {
  width: 900px;
  height: 600px;
  margin: 100px auto;
  border-radius: 15px;
  box-shadow: 10px 10px 10px 1px rgb(190, 190, 190);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mdfTitle {
  color: rgb(107, 83, 67);
  font-size: 2.5rem;
}

.profilePicMdfBtns {
  margin-top: 20px;
  width: 200px;
  display: flex;
  justify-content: space-between;
}

.nickname {
  margin-top: 40px;
  margin-bottom: 7px;
}

.nicknameTitle {
  margin: 0;
}

input[type="text"] {
  width: 300px;
  height: 40px;
  font-size: 20px;
  padding: 0 10px;
}

.profileMdfBtns {
  margin: 60px 0;
  width: 280px;
  display: flex;
  justify-content: space-between;
}

.profileCancelBtn,
.profileApplyBtn {
  width: 135px;
}

/* .profileApplyBtn {
  color: white;
} */
