.userinfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
}

.smallTitle {
  color: #1d5902;
  font-size: 1.3em;
}

.editInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 450px;
  padding: 20px 60px;
}

.userInfoBtns {
  margin: 30px auto 0;
  padding: 0;
  width: 390px;
  display: flex;
  justify-content: space-between;
}

.profileCancelBtn,
.profileApplyBtn {
  width: 180px;
  height: 42px;
  font-size: 1.1em !important;
  font-weight: bold !important;
  box-shadow: none !important;
}

.earnedCert {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  padding: 0 20px;
}

.earnedCert h1 {
  margin-bottom: 30px;
}

.addCert {
  width: 470px;
  margin-top: 5px !important;
}

.addCertBtns {
  margin: 20px auto 10px;
  padding: 0;
  width: 90%;
  display: flex;
  justify-content: right;
}
