.writtenTab {
  display: flex;
}

.writtenTab li {
  list-style-type: none;
}

.tabs {
  width: 60px;
  height: 21px;
  display: flex;
  justify-content: center;
  padding: 5px;
  margin: 0 5px;
  color: gray;
}

.tabs:hover {
  color: #1d5902;
  font-weight: bold;
  cursor: pointer;
}

.radioBtn:checked + .tabs {
  font-weight: bold;
  color: #1d5902;
  border-bottom: 2px solid #1d5902;
}

.askList {
  margin-top: 15px;
}

.nothingWritten {
  padding: 40px 20px;
  color: #555;
}
