.joinForm {
  width: 600px;
  margin: 30px auto;
  border-radius: 15px;
  box-shadow: 5px 6px 22px 0 lightgray;
}

.padding {
  padding: 0 70px;
}

.logo {
  width: 480px;
  height: 82px;
  padding: 20px 60px 10px 60px;
}

.title {
  color: rgb(107, 83, 67);
  font-size: 22px;
  font-weight: bold;
  padding: 0 70px;
  margin-top: 11px;
  margin-bottom: 24px;
}

.underline {
  text-decoration: underline;
}

.font14 {
  font-size: 14px;
  line-height: 18px;
}

Button {
  float: right;
}

.findIdResultDiv {
  padding: 30px 70px;
  height: 217px;
}

.findIdSubTitle {
  font-size: 18px;
}

.pwResetResultDiv {
  height: 375px;
}

// home css
.homeBackground {
  background-image: url("../../images/apples-1004886_960_720.jpg");
  background-color: rgba(255, 255, 255, 0.2);
  background-blend-mode: lighten;
  background-size: cover;
  height: 100vh;
}

.homeLogo {
  max-width: 325px;
  margin-top: 30px;
  position: fixed;
}

.home-div {
  position: relative;
  z-index: 0;
  bottom: 70px;
  padding: 0;
}

#scroll {
  scroll-snap-align: center;
}

html {
  scroll-snap-type: y mandatory;
}

body {
  overflow-y: scroll;
  // overflow-x: hidden;
  height: 100vh;
}
