.search {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 35px;
}

button.newshareBtn {
  font-family: Pretendard-Regular;
  font-size: 1rem;
  color: white;
  background: #8cbf75;
}

button.newshareBtn:hover {
  background: #8cbf75;
}

.pageNation {
  margin: 40px;
}

.pageNation > div {
  align-items: center;
}
