.detailBox {
  width: 100%;
}

.detailBoxTop {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contentTop {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.detailImg {
  width: 450px;
  height: 300px;
}

.detailContent {
  width: 450px;
  height: 280px;
  display: flex;
  padding-top: 15px;
  margin-left: 50px;
  flex-direction: column;
  border-radius: 10px;
  border: 2.5px solid rgb(216, 212, 208);
  align-items: center;
  text-align: left;
  position: relative;
}

.contentText {
  align-items: flex-end;
}
.state {
  background-color: rgba(187, 205, 110, 0.8);
  width: 60px;
  height: 30px;
  border-radius: 5px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 50px;
}

.btns {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 90px;
  height: 30px;
  position: relative;
  top: 130px;
  left: 175px;
}

.reply {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 62%;
  height: 80px;
  border-radius: 5px;
  border: 2px solid rgb(216, 212, 208);
  margin: 20px 0;
  position: absolute;
  top: 550px;
}

.replyText {
  width: 99.2%;
  height: 75px;
  position: absolute;
  border: none;
}

.replyRegBtn {
  top: 27px;
  position: relative;
  display: flex;
  flex-direction: row;
  float: right;
  justify-content: center;
  align-items: right;
  width: 60px;
  height: 25px;
  border: none;
}

.aaa {
  background-color: aquamarine;
  display: flex;
  flex-direction: column;
}

.bbb {
  display: flex;
  float: right;
}

.ccc {
  display: flex;
  justify-content: space-between;
}

.writer {
  display: flex;
  flex-direction: row;
  padding-top: 5px;
}

.writer p {
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  padding-top: 20px;
}
