.detailBox {
  width: 100%;
}

.title {
  width: 100%;
  margin: 0 auto;
  padding-bottom: 20px;
  display: flex;
  flex-direction: row;
}

.title p {
  margin-right: 15px;
  margin-left: 8px;
  background-color: #1d5902;
  width: 80px;
  height: 40px;
  border-radius: 5px;
  color: white;
  font-size: larger;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.title > h1 {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.btns {
  width: 140px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.deleteBtn {
  border: 1px solid #1d5902;
  color: #1d5902;
}

.detailBoxTop {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10px;
  align-items: center;
}

.contentTop {
  width: 40%;
  display: flex;
  justify-content: space-between;
}

.detailImg {
  width: 95%;
  height: 390px;
  border-radius: 10px;
  box-shadow: 5px 6px 22px lightgray;
}

.profileImg {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  object-fit: cover;
  border-radius: 50%;
}

.shareDetailContainer {
  position: relative;
  width: 65%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.detailContentBox {
  position: sticky;
  top: 0;
  background: white;
  padding: 20px;
  min-height: 400px;
  width: 70%;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.15);
  height: fit-content;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.detailWrite {
  display: flex;
  align-items: center;
  height: 40px;
  font-size: 1rem;
  color: rgb(100, 100, 100);
}

.detailTitle {
  margin-top: 20px;
  word-break: break-all;
  font-size: 1.1rem;
}

.detailContent {
  width: 90%;
  height: 200px;
  margin-top: 15px;
  padding: 0 3px;
  line-height: 30px;
  color: #0d0d0d;
  word-break: break-all;
  white-space: pre-line;
}

.detailRegDate {
  display: flex;
  justify-content: end;
  margin-top: 15px;
  color: rgb(100, 100, 100);
  font-size: 0.8rem;
}

.fileDown {
  width: 500px;
}

.fileNameDown {
  display: block;
  color: rgb(100, 100, 100);
  font-size: 0.8rem;
  line-height: 16px;
}

.detailBoxBottom {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
}

.reply {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.shareDetailHr {
  margin-top: 60px;
  width: 95%;
}

.detailWriterTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
