.shareBody {
  width: 50%;
  margin-left: 50px;
  display: flex;
  flex-direction: column;
}

.title {
  width: 85%;
  height: 40px;
  border-radius: 5px;
}

.content {
  width: 85%;
  height: 320px;
  margin-top: 23px;
  border-radius: 5px;
  font-size: large;
}

.shareBtn {
  display: flex;
}

.cancelBtn {
  color: white;
  width: 60px;
  height: 30px;
  border-radius: 4px;
  border-style: none;
  background-color: rgba(107, 83, 67, 0.8);
}

.RegBtn {
  margin-left: 10px;
  color: white;
  width: 60px;
  height: 30px;
  border-radius: 4px;
  border-style: none;
  background-color: rgba(187, 205, 110, 0.8);
}
