/* ShareList */
.top {
  background-color: brown;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 50px 0;
}

.search {
  background-color: blueviolet;
  display: flex;
  position: relative;
}

/* 버튼 색상 
"rgba(107, 83, 67, 0.8)"
"rgba(187, 205, 110, 0.8)" */

.searchBtn {
  width: 60px;
  border: none;
}

.newshareBtn {
  width: 60px;
  height: 40px;
  color: aliceblue;
  font-size: medium;
  font-weight: 700;
  border-style: none;
  border-radius: 5px;
  margin-right: 10px;
  background-color: rgba(187, 205, 110, 0.8);
}

.shareSearchBar {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.aaaaa:focus-visible {
  outline: none;
}

/* ShareCard */

.shareCardList {
  display: grid;
  gap: 25px;
  margin: 2.5% 0px 20px 0px;
  grid-template-columns: 0.5fr 0.5fr 0.5fr;
}

@media screen and (min-width: 1200px) {
  .shareCardList {
    grid-template-columns: repeat(4, minmax(230px, 1fr));
  }
}
@media screen and (max-width: 1099px) {
  .shareCardList {
    grid-template-columns: repeat(3, minmax(230px, 1fr));
  }
}

@media screen and (max-width: 819px) {
  .shareCardList {
    grid-template-columns: repeat(2, minmax(230px, 1fr));
  }
}

.cardbody {
  width: 280px;
  height: 340px;
}

.img {
  height: 250px;
}

.writer {
  padding-top: 6px;
}

.bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.state {
  background-color: rgba(187, 205, 110, 0.8);
  width: 60px;
  height: 30px;
  border-radius: 5px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
