.shareCardList {
  display: grid;
  gap: 25px;
  margin: 2.5% 0px 20px 0px;
  grid-template-columns: 0.5fr 0.5fr 0.5fr;
}

@media screen and (min-width: 1200px) {
  .shareCardList {
    grid-template-columns: repeat(4, minmax(230px, 1fr));
  }
}
@media screen and (max-width: 1099px) {
  .shareCardList {
    grid-template-columns: repeat(3, minmax(230px, 1fr));
  }
}

@media screen and (max-width: 819px) {
  .shareCardList {
    grid-template-columns: repeat(2, minmax(230px, 1fr));
  }
}
