.regBox {
  width: 950px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
.imgBox {
  display: flex;
  flex-direction: column;
  justify-items: center;
}

.itemImg {
  display: flex;
  width: 450px;
  height: 365px;
  border-radius: 10px;
  box-shadow: 5px 6px 22px lightgray;
}

.fileloadBtn {
  display: flex;
  justify-content: flex-end;
}
