/* ShareCard */

.cardbody {
  width: 280px;
  height: 340px;
}

.cardbody:hover {
  transition: all 0.3s ease;
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  box-shadow: 4px 12px 20px 6px rgb(0 0 0 / 18%);
}

.img {
  height: 250px;
}

.writer {
  padding: 6px;
}

.bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.state {
  background-color: rgba(187, 205, 110, 0.8);
  width: 45px;
  height: 25px;
  border-radius: 5px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
