.shareCard-body {
  width: 297px;
  height: 340px;
}

.shareCard-img {
  height: 250px;
}

.shareWriter {
  margin: 0 0 auto;
}

.shareCard-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
