.faqcontainer {
  /* background-color: beige; */
  width: 100%;
  height: fit-content;
  margin-bottom: 50px;
}

.searchFieldWrapper {
  display: flex;
  justify-content: end;
}

.accordionContainer {
  /* background-color: brown; */
  margin-top: 20px;
  width: 100%;
  height: fit-content;
  margin-bottom: 20px;
}

.pageNation {
  margin: 40px;
}

.pageNation > div {
  align-items: center;
}
