.center {
  height: 100vh;
  display: flex;
  align-items: center;
  margin: 0px 15px;
}

.logo {
  display: flex;
  justify-content: center;
}

.logo > a {
  color: #1d5902;
  font-size: 3.3em;
  font-family: "Black Han Sans";
  font-weight: 500;
  padding: 30px 0 20px 0;
}

.margin15 {
  margin: 15px;
}

.form {
  max-width: 600px;
  margin: 30px auto;
  border-radius: 15px;
  box-shadow: 5px 6px 22px 0 lightgray;
}

.padding {
  padding: 0 70px;
}

.title {
  color: #403633;
  font-size: 22px;
  font-weight: bold;
  padding: 0 70px;
  margin-top: 50px;
  margin-bottom: 24px;
}

.aTagDiv > a {
  color: #666;
  font-size: 16px;
}
.snsLogin {
  text-align: center;
  padding: 50px 0 10px 0;
}

.snsLogin > p {
  color: #999;
  font-size: 15px;
}

.snsLoginIcon {
  display: flex;
  justify-content: center;
  padding: 30px 50px;
}

.snsLoginIcon > div {
  width: 48px;
  height: 48px;
  border-radius: 90px;
  margin: 0 20px;
}

/* media screen */
@media screen and (max-width: 768px) {
  .padding {
    padding: 0 55px;
  }
  .title {
    padding: 0 55px;
  }
}

@media screen and (max-width: 640px) {
  .padding {
    padding: 0 40px;
  }
  .title {
    padding: 0 40px;
  }
}
