.commSubtitle {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
}

.commSubtitle p {
  font-size: 30px;
  color: #0d0d0d;
}

.popStudyContainer,
.popAskContainer,
.popShareContainer {
  width: 100%;
  height: fit-content;
  margin-bottom: 40px;
  display: flex;
  justify-content: space-around;
}

.popAskContainer {
  flex-direction: column;
}
