.commSubtitle {
  width: 100%;
  height: 80px;
  /* background-color: aqua; */
  display: flex;
  align-items: center;
}

.commSubtitle > p {
  font-size: 30px;
  color: #0d0d0d;
}

.popStudyContainer {
  width: 100%;
  min-width: 1200px;
  height: fit-content;
  margin-bottom: 40px;
  display: flex;
  justify-content: space-around;
}

.popAskContainer {
  width: 100%;
  min-width: 1200px;
  height: fit-content;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
}

.popShareContainer {
  width: 100%;
  min-width: 1200px;
  height: fit-content;
  margin-bottom: 40px;
  display: flex;
  justify-content: space-around;
}
