/* main background */
.homeBackground {
  background-image: url("../../images/sprout.jpg");
  background-color: rgba(255, 255, 255, 0.05);
  background-blend-mode: lighten;
  background-size: cover;
  height: 100vh;
}

/* main cert page overlap */
.homeDiv {
  position: relative;
  bottom: 70px;
  padding: 0;
}

/* main left content - text */
.subTitle {
  font-size: 34px;
  font-weight: bold;
  line-height: 150%;
  color: rgb(250, 250, 250);
  margin-top: 10%;
}

.contentText {
  font-size: 22px;
  line-height: 150%;
  color: rgb(250, 250, 250);
  margin-top: 22px;
}

.homeContent {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-top: 15%;
}

/* main left content - plan */
.certPlan {
  width: 450px;
  margin: 20px 0 90px 0;
  border: none;
  color: white;
}

.certPlanTitle {
  margin: 15px;
  font-size: 22px;
}

.certPlanP {
  line-height: 150%;
  width: 95%;
  height: fit-content;
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
  border-radius: 2px;
  color: rgb(225, 225, 225);
}
.certPlanDiv:hover {
  background-color: rgba(187, 205, 110, 0.5);
}

.fontSize16 {
  font-size: 16px;
}

.fontSize15 {
  font-size: 15px;
}

/* header css */
@import url("https://fonts.googleapis.com/css?family=Black+Han+Sans:400");
@import url("https://fonts.googleapis.com/css?family=Black+Han+Sans&display=swap&subset=korean");

.header {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  z-index: 10;
}

.homeNav {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

.logo {
  width: 194.79px;
  height: 100%;
  color: #fff;
  font-size: 2.3em; /* 2.6em*/
  font-family: "Black Han Sans";
  font-weight: 500;
}

.catStyle {
  display: flex;
  align-items: center;
  width: 75%;
  height: 70px;
  justify-content: center;
  box-sizing: content-box;
  color: #fff;
  font-size: 1.1rem;
  font-weight: 500;
  cursor: pointer;
}

.catStyle:hover {
  border-top: 2px solid #fff;
}

.tailwrap {
  width: 300px;
  height: 100%;
  margin-left: auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.tailwrap > div > a {
  color: #fff;
  text-decoration: none;
  display: flex;
}

.tailwrap > div:first-child {
  font-size: 14px;
}

.tailwrap > div:nth-child(2) {
  font-size: 14px;
}

.tailwrap > div > a:hover {
  font-weight: bold;
}

.mypageLink {
  display: flex;
  height: 100%;
  align-items: center;
}

/* alerts */
.alert {
  padding-top: 70px;
  position: absolute;
  z-index: 2;
  display: flex;
  justify-content: flex-end;
  max-width: 1176px;
}

@media screen and (max-width: 978px) {
  .homeContent {
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
  }

  .homeP {
    text-align: center;
  }

  .certPlan {
    margin-top: 40px;
  }
}

@media screen and (max-width: 1200px) {
  .alert {
    max-width: none;
    right: 0;
    padding-right: 24px;
  }
}

@media screen and (max-width: 600px) {
  .alert {
    padding-right: 16px;
  }
  .subTitle {
    font-size: 32px;
  }
}

@media screen and (max-height: 678px) {
  .homeBackground {
    height: fit-content;
  }
}

@media screen and (max-width: 978px) and (max-height: 844px) {
  .homeDiv {
    position: none;
    bottom: none;
    padding: 0;
  }
  .homeBackground {
    height: fit-content;
  }
}
