.studyContainer {
    width: 280px;
    height: 330px;
    border: 2px solid grey;
    border-radius: 20px;
    margin: 0px 10px 0px 10px;
    padding-top: 3px;
    display: flex;
    
    flex-direction: column;
}

.studyImg {
    width: 270px;
    height: 250px;
    margin: 0 auto;
    border-radius: 20px;
}

.studyTitle {
    width: 270px;
    margin-left: 15px;
    margin-top: 15px;
    height: 20px;
    font-size: larger;
}

.studyMemberCnt {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 15px;
    padding-top: 5px;
}

.memberNum {
    margin-left: 5px;
}