.cards {
  width: 100%;
  display: flex;
}

.cardBody {
  width: 297px;
  height: 395px;
  display: flex;
  flex-direction: column;

  box-sizing: border-box;
  margin-top: 36px;
  border-radius: 14px;
  box-shadow: 4px 12px 30px 6px rgb(0 0 0 / 9%);
}

.cardBody:hover {
  transition: all 0.3s ease;
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  box-shadow: 4px 12px 20px 6px rgb(0 0 0 / 18%);
}

.cardTop {
  height: 180px;
  padding: 25px 24px 0 24px;
}

.cafeName {
  height: 64px;
  font-size: 22px;
  font-weight: 600;
  line-height: 32px;
}

.smplIntro {
  font-size: 1.2rem;
  height: 80px;
}

.guGun {
  height: 25px;
  font-weight: bold;
}

.cafeImg {
  width: 100%;
  max-height: 190px;
  border-radius: 0 0 14px 14px;
}
