.typeBox {
  margin: 20px 0;
  display: flex;
  width: 100%;
  height: 50px;
}

.allTypeBtn,
.typeBtns {
  font-size: 13px;
  border-radius: 30px;
  background-color: lightgray;
  margin: 5px;
  width: 95px;
  height: 37px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.allTypeBtn {
  width: 60px;
}

.allTypeBtn:hover,
.typeBtns:hover {
  background-color: #999;
}

.allTypeBtn > a,
.typeBtns > a {
  font-size: 14px;
  padding: 2px 13px;
  color: black;
}

.search {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.jobCafeList {
  display: grid;
  gap: 25px;
  margin: 2.5% 0px 20px 0px;
  grid-template-columns: 0.5fr 0.5fr 0.5fr;
}

@media screen and (min-width: 1200px) {
  .jobCafeList {
    grid-template-columns: repeat(4, minmax(230px, 1fr));
  }
}
@media screen and (max-width: 1099px) {
  .jobCafeList {
    grid-template-columns: repeat(3, minmax(230px, 1fr));
  }
}

@media screen and (max-width: 819px) {
  .jobCafeList {
    grid-template-columns: repeat(2, minmax(230px, 1fr));
  }
}

.pageNation {
  margin: 40px;
}

.pageNation > div {
  align-items: center;
}
