.detailContainer {
  display: flex;
  flex-direction: column;
}

.detailHeader {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 30px 0;
}

.cafeType {
  font-size: 15px;
}

.cafeName {
  font-size: 32px;
  margin-top: 25px;
  line-height: 1.38;
}

.cafeImg {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.smplIntro {
  font-size: 20px;
  border-bottom: none;
  width: 60%;
  display: flex;
  justify-content: center;
  margin: 50px auto 60px;
}

.detailContent {
  display: flex;
  flex-direction: column;
  margin: 30px auto;
  width: 700px;
}

.contentRow {
  display: flex;
  margin: 7px 0;
  align-items: center;
}

.contentRow > h4 {
  width: 200px;
  font-size: 18px;
  text-align: right;
  margin-right: 20px;
}

.rsrvCard {
  width: 700px;
  height: 230px;
  border-radius: 12px;
  background-color: rgb(243, 243, 243);
  margin: 50px auto 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.rsrvCard > h1 {
  font-size: 22px;
}

.rsrvCardBtn {
  padding: 12px 22px;
  border-radius: 24px;
  background-color: black;
  color: white;
  font-weight: 700;
  margin-top: 26px;
  font-size: 14px;
}

.rsrvCardBtn:hover {
  background-color: #444;
}

.rsrvCardBtn > a {
  color: white;
}

.detailListBtn {
  width: 100px;
  padding: 15px 20px;
  border-radius: 24px;
  background-color: rgb(230, 230, 230);
  font-weight: 700;
  margin: 20px auto;
  font-size: 18px;
  text-align: center;
  color: black;
}

.detailListBtn:hover {
  background-color: #000;
  color: white;
}

.cafeDetails {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 1000px;
  margin: 50px auto;
}

.cafeDetailCard {
  width: 40%;
  margin: 2%;
  padding: 20px;
  border-radius: 14px;
  background-color: white;
  box-shadow: 4px 12px 30px 6px rgb(0 0 0 / 9%);
  line-height: 1.7;
}

.cafeDetailCard > h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.cafeDetailCard > p {
  margin-left: 15px;
  white-space: pre-line;
}
