.mainContainer {
  display: flex;
  justify-content: space-between;
  padding: 100px;
  margin: auto;
}

.subContainer {
  border-radius: 14px;
  background-color: white;
  box-shadow: 4px 12px 30px 6px rgb(0 0 0 / 9%);
  width: 100%;
  min-height: 500px;
  margin: auto 40px;
  transition: all 0.2s ease-in-out;
}

.subContainer:hover {
  transform: translateY(-5px);
  box-shadow: 4px 12px 20px 6px rgb(0 0 0 / 18%);
}

.skillsTitle {
  padding: 30px 0 0 30px;
  margin: 10px 0 25px;
  font-size: 32px;
  font-weight: bold;
  color: black;
}

.skillsSubTitle {
  padding-left: 30px;
  color: gray;
}

.skillsSmallBtn {
  padding-left: 30px;
  display: flex;
  justify-content: flex-start;
}

.skillsBtns {
  font-size: 13px;
  border-radius: 15px;
  background-color: lightgray;
  margin: 15px;
  margin-left: 0;
  height: 30px;
  display: flex;
  align-items: center;
}

.skillsBtns > a {
  font-size: 14px;
  padding: 2px 13px;
  color: black;
}

.skillsImgBox1,
.skillsImgBox2 {
  margin-top: 15px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(135, 205, 92);
  border-radius: 0 0 14px 14px;
}

.skillsImgBox2 {
  background-color: rgb(151, 200, 235);
}

.growthImg {
  margin: auto;
  padding: 50px;
  width: 300px;
  height: 300px;
}
