.studyMainContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.searchFieldWrapper {
  margin-right: 10px;
  margin-bottom: 20px;
  display: flex;
}

.regBtnContainer {
  /* background-color: aqua; */
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
}

.studyRegBtn {
  width: 60px;
  height: 40px;
  margin-left: auto;
  margin-right: 10px;
  background-color: #97be7d;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  text-align: center;
  line-height: 40px;
}

.pageBtnContainer {
  /* background-color: blueviolet; */
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pageNation {
  margin: 40px;
}

.pageNation > div {
  align-items: center;
}
