.studyMainContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.searchFieldWrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 35px;
}

.regBtnContainer {
  /* background-color: aqua; */
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
}

button.studyRegBtn {
  font-family: Pretendard-Regular;
  font-size: 1rem;
  color: white;
  background: #8cbf75;
}

button.studyRegBtn:hover {
  background: #8cbf75;
}

.pageBtnContainer {
  /* background-color: blueviolet; */
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pageNation {
  margin: 40px;
}

.pageNation > div {
  align-items: center;
}
