.helpBox{ 
    width: 100%;
    box-shadow: 5px 6px 22px lightgray;
    border-radius: 15px;
    box-sizing: border-box;
}

.adminTitle{
    font-size: 1.2rem;
}

/* AdminHelpTotal */
.helpTotal{
    display: flex;
    height: 50px;
    justify-content: space-around;
    align-items: center;
}
/* AdminHelpTotal end */

/* AdminHelpList */
.helpList{
    margin-top: 40px;
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.table {
    width: 100%;
    margin: 0 auto;
    table-layout: fixed;
    white-space: nowrap;
    height: max-content;
    border-collapse: collapse;
    border-radius: 10px;
    border-style: hidden;
    text-align: center;
    box-sizing: border-box;
}

.table > thead > tr > th {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    padding: 15px 5px;

}
  
.table > tbody > tr > td {
    margin-left: 100px;
    border-top: 1px solid rgba(150, 150, 150, 0.3);
    padding: 10px;
}
  
.table > tbody > tr:hover {
    background-color: rgba(140, 191, 117, 0.1);
    border-radius: 0;
    border-bottom-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
  

.table .helpNo {
    width: 20px;
}

.table .helpCategory {
    width: 70px;
}

.table .helpTitle {
    width: 160px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
   
.table .helpWriter {
    width: 80px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.table .helpRegDate {
    width: 120px;
}

@media (max-width: 1100px) {
    .helpBox{ 
        box-sizing: border-box;
        width: 94%;
        margin: 40px 3%;
    }

}

@media (max-width: 650px) {
    .table .helpRegDate {
        display: none;
    }
}