.mainContainer {
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
  margin: auto;
  height: 85vh;
}

.subContainer1,
.subContainer2 {
  border-radius: 14px;
  background-color: white;
  box-shadow: 4px 12px 30px 6px rgb(0 0 0 / 9%);
  width: 35%;
  min-height: 580px;
  margin: auto 30px;
}

.subContainer2 {
  width: 60%;
}

.helpTitle {
  padding: 15px 0 0 20px;
  margin: 10px 0 25px;
  font-size: 45px;
  font-weight: bold;
  color: black;
}

.helpSubTitle {
  font-size: 17px;
  padding-left: 20px;
  margin-bottom: 25px;
  color: gray;
}

.helpSmallBtn {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
}

.helpBtns {
  font-size: 13px;
  margin: 18px;
  margin-left: 0;
  display: flex;
  align-items: center;
}

.tabs {
  height: 7px;
  font-size: 18px;
  font-weight: 700;
  padding: 2px 5px;
  color: #0d0d0d;
  display: flex;
  align-items: end;
}

.tabs:hover {
  background-color: #8cbf75;
  cursor: pointer;
}

.radioBtn:checked + .tabs {
  background-color: #8cbf75;
}

.helpImgBox {
  margin-top: 55px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e5e5e5;
  border-radius: 0 0 14px 14px;
}

.helpImg {
  margin: auto;
  padding: 50px;
  width: 200px;
  height: 200px;
}

@media (max-width: 1100px) {
  .mainContainer {
    padding: 100px 0;
  }
}

@media (max-width: 900px) {
  .mainContainer {
    flex-direction: column;
    padding: 0;
  }

  .subContainer1 {
    margin: auto 0;
    border-radius: 0;
    width: 100%;
    min-height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: end;
  }

  .subContainer2 {
    margin: 40px auto;
    width: 90%;
  }

  .helpTitle {
    margin: 5px 0 15px;
    padding: 10px 0 0 30px;
    font-size: 35px;
  }

  .helpSubTitle {
    margin-top: 10px;
    margin-bottom: 7px;
  }

  .helpSmallBtn {
    padding: 0 20px;
    display: flex;
    flex-direction: row;
  }

  .helpImgBox {
    display: none;
  }

  .helpImg {
    margin: auto;
    padding: 10px;
    width: 200px;
    height: 200px;
  }
}
