div#content{
    margin: 0 auto 50px;
    width: 100%;
    max-width: 1200px;
}

#container{
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1000px;
}

#container #searchBar input[type="text"]{
    box-sizing: border-box;
    border: 1px solid rgb(178, 178, 178);
    border-radius: 3px;
    width: 300px;
    height: 40px;
}

#boardTop{
    display: flex;
    height: 40px;
    justify-content: space-between;
}

#boardTop #searchBar{
    display: flex;
    height: 40px ;
}

form#keywordSearchBar{
    position: relative;
    display: flex;
    width: 300px;
}

#container #searchBar input[type="text"]:focus-visible{
    outline: 2px solid rgb(187, 205, 110);
}

form#keywordSearchBar button[type="submit"]{
    width: 45px;
    height: 40px;
    right: 45px;
    position: absolute;
    right: 0;
    background: none;
    border: none;
}

form#certSearchBar{
    margin-left: 10px;
}

form#certSearchBar input#searchCert{
    width:200px;
    font-size: 1.1rem;
    padding-left: 10px;
}

#selectCert{
    display: none;
    position: relative;
    top: 2px;
    min-width: 150px;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 3px;
    background: white;
}

#selectCert ul{
    margin: 0;
    padding:0;
   list-style-type: none;
}

#selectCert li{
    font-size: 0.8rem;
    margin: 2px;
}

#boardTop button[type="button"]{
    height: 40px;
    cursor: pointer;
}

#boardTop button.askRegButton{
    color: rgb(187, 205, 110);
    border-color: rgb(187, 205, 110);
    font-weight: 600;
}

#boardTop button.askRegButton:hover{
  background: rgb(187, 205, 110);
  color: white;
}

/*Pagenation*/

#pagenation{
    position: absolute;
    display: flex;
    right: -45px;
    top:30%;
    flex-direction: column;

}

#pagenation .page{
    color: rgb(50, 50, 50);
    font-size: 0.8rem;
    width: 30px;
    padding: 5px;
    text-align: center;
    border-radius:  5px;
    background-color: rgb(213, 213, 213);
    margin-bottom: 5px;
    border: none;
    cursor: pointer;

}

#pagenation .active{
   border: none;
   color: white;
   background-color: rgb(187, 205, 110);


}

/*AskLIstItem*/

#askListItem{
    display: flex;
    width: 100%;
    max-width: 1000px;
    height: 70px;
    margin-bottom: 15px;
    box-sizing: border-box;
    background-color: rgb(250, 250, 250);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.288);
    border-radius: 5px;
}
#askListItem #profile{
    justify-content: center;
    align-items: center;
    display: flex;
    width: 70px;
    height: 100%;
 
}

#askListItem #profile #profileImg{
    width: 60px;    
}

#askListItem #contentBox{
    color: rgb(71, 33, 0);
    padding: 0 10px;
    width: 80%;
    max-width: 650px;
}

#askListItem #title{
    display: flex;
    align-items: center;
    height: 40px;
    overflow: hidden;
    max-width: 650px;
   
}

#askListItem span{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 650px;
}


#askListItem #writer{
    display: flex;
    height: 30px;
    font-size: 0.8rem;
    color: gray;
}

#askListItem #regdate{
    display: flex;
    height: 40px;
    align-items: center;
    font-size: 0.8rem;
    color: gray;
}

#askListItem #count{
    display: flex;
    height: 30px;
    align-items: flex-start;
    font-size: 0.8rem;
    color: rgb(255, 255, 255);
   
}

/*AskReg*/
#RegContainer{
    display: flex;
}

#certContainer{
    margin-top: 10px;
    border: 1px solid gray;
    border-radius: 50px;
    max-width: 400px;
    width: 40%;
    height: fit-content;
}

#certContainer #certResultContainer{
  display: flex;
  flex-wrap: wrap;
  padding: 20px 30px 40px 40px;
  align-content: flex-start;
  justify-content: center;

}

#certResultContainer .certItem{
    display: flex;
    white-space: nowrap;
    padding: 10px;
    background: gray;
    border-radius: 8px;
    height: 20px;
    margin-right: 10px;
    margin-bottom: 10px;
}

#writeContaner{
    margin-top: 10px;
    max-width: 600px;
    min-height: 400px;
    width: 60%;    
}

#writeContent{
    max-width: 600px;
    width:100%;
    background-image: url('../../images/askWriteContent.png');
    background-size: 100%;
}

#regAskForm{
    margin: 0 auto;
    max-width: 400px;
    width: 70%;
}

#RegContainer #searchCertForm{
    margin-top: 20px;
    display: flex;
    width: 100%;
    justify-content: center;
}

/*askDetail*/
#askDetailContainer{
    position: relative;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

#askDetailContainer #detailContentBox{
    background: rgb(250, 250, 250);
    padding: 20px;
    max-width: 400px;
    width: 40%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
    height: fit-content;
}

#askDetailContainer #detailReply{
    max-width: 500px;
    width: 55%;
}
#regAskForm .ql-editor{
    min-height: 300px;
}


#askDetailContainer #detailContentBox .detailWrite{
    display: flex;
    align-items: center;
    height: 40px;
    font-size: 0.8rem;
    color: rgb(100, 100, 100);
}

#askDetailContainer #detailContentBox .detailWrite #profileImg{
    height: 40px;
    margin-right: 10px;
}

#askDetailContainer #detailContentBox .detailTitle{
    margin-top: 20px;
    word-break: break-all;
}

#askDetailContainer #detailContentBox .detailContent{
    margin-top: 15px;
    color: rgb(70, 70, 70);
    font-size: 0.9rem;
    max-width: 400px;
    word-break: break-all;
}

#askDetailContainer #detailContentBox .detailRegDate{
    display: flex;
    justify-content: end;
    margin-top: 15px;
    color: rgb(100, 100, 100);
    font-size: 0.7rem;
}

#askDetailContainer #detailContentBox .detailLink a{
    color: rgb(100, 100, 100);
    font-size: 0.7rem;
    margin-right: 5px;
}

/*AskDetailReply*/
#askDetailContainer #detailReply .askReplyBox{
    background: rgb(230, 230, 230);
    min-height: 60px;
    padding: 20px;
    margin-bottom: 10px;
    display: flex;
    align-items: flex-start;
    max-width: 460px;
    width: 100%;
}
#askDetailContainer #detailReply .askReplyBox #profileImg{
   width: 60px;
}

#askDetailContainer #detailReply #askReplyRegBox #replyRegForm{
    margin-left: 20px;
    width: 100%;
}

#askDetailContainer #detailReply #replyBox{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    width: 100%;
}

#askReplyBox #replyBox .askReplyContent{
    white-space: normal;
    margin-top: 10px;
    color: rgb(60, 60, 60);
    padding-bottom: 10px;
    word-break: break-all;
}

.rereplyOpen{
    display: flex;
    align-self: flex-end;
    justify-self: end;
}

.rereplyOpen p{
    display: flex;
    font-size: 0.7rem;
    margin-right: 5px;
}