div#content{
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
}
#container{
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 900px;
}