  .certContainer {
    width: 300px;
    height: 90vh;
    box-shadow: 15px 10px 15px 2px rgb(190, 190, 190);
   
  } 
  .certfindinput {
    width: 230px;
    height: 40px;
    margin-left: 8%;
    margin-top: 60px;  
    border: 3px solid lightgray;
    border-radius: 20px;
  }
  .smallfindcert {
    font-size: 14px;
    margin-top: 20px;
    height: 25px;
    padding: 0 40px;
    border-radius: 30px;
    background: #eee;
    font-size: 14px;
    line-height: 25px;
    letter-spacing: -.5px;
    border: 3px solid lightgray;
    
  }
  .certFind {
  width: 800px;
  height: 500px;
  color: black;
  

  }
  .certFindTitle {
  font-size: 40px;
  padding: 10px;
  }

  .certFindInfo {
  display: flex;
  justify-content: space-between;
  margin-bottom: 200px;
  }

  .infoHead {
  text-align: center; 
  width: 90px;
  }

  .infoBody {
    text-align: center;
    font-size: 14px;
  }

  .infoTable {
    width: 100%;
    height: max-content;
    border-collapse: collapse;
    border-top: 2px solid #bdbdbd;
    border-bottom: 2px solid #bdbdbd;
    text-align: center;
  }

  .infoTable > thead > tr > th {
    background-color: #eeeeee;
    border-top: 1px solid #bdbdbd;
    padding: 15px 5px;
    text-align: center;
  }
  
  .infoTable > tbody > tr > td {
    margin-left: 100px;
    border-top: 1px solid #bdbdbd;
    padding: 15px 5px;
    text-align: center;
  }

  .infoButton {
    text-align: center;
    padding: 20px 5px;
  }
  .appInfoTitle {
    font-size: 18px;
    list-style: none;

  }
  .appInfoCon {
   padding-top: 10px;
   list-style: none;
  }

  .testInfo {
    padding: 10px;
  }

  .certFindSearchBar {
    padding: 0 15px;
  }

  
