  .certContainer {
    width: 300px;
    min-height: calc(100vh - 130px);
    box-shadow: 5px 6px 22px lightgray;
  } 
  .certfindinput {
    width: 200px;
    height: 40px;
    margin-left: 8%;
    margin-top: 60px;  
    border: 3px solid lightgray;
    border-radius: 20px;
    font-size: 14px;
  }
  .smallFindCert {
    font-size: 14px;
    margin: 5px;
    height: 30px;
    border-radius: 30px;
    background: #eee;
    line-height: 20px;
    
    border: 1px solid lightgray;
    cursor: pointer;
    
    
    
  }
  .certFind {
  width: 850px;
  height: 500px;
  color: black;
  

  }
  .certFindTitle {
  font-size: 40px;
  padding: 10px;
  }

  .certFindInfo {
  display: flex;
  justify-content: space-between;
  }

  .infoHead {
  text-align: center; 
  width: 90px;
  font-size: 14px;
  }

  .infoBody {
    text-align: center;
    font-size: 12px;
    width: 50px;
  }

  .infoTable {
    width: 100%;
    height: max-content;
    border-collapse: collapse;
    border-top: 2px solid #bdbdbd;
    border-bottom: 2px solid #bdbdbd;
    text-align: center;
  }

  .infoTable > thead > tr > th {
    background-color: #eeeeee;
    border-top: 1px solid #bdbdbd;
    padding: 15px 5px;
    text-align: center;
  }
  
  .infoTable > tbody > tr > td {
    margin-left: 100px;
    border-top: 1px solid #bdbdbd;
    padding: 15px 5px;
    text-align: center;
  }

  .infoButton {
    text-align: center;
    padding: 20px 5px;
  }
  .appInfoTitle {
    font-size: 18px;
    list-style: none;

  }
  .appInfoCon {
   padding-top: 10px;
   list-style: none;
   color: lightgray
  }

  .testInfo {
    padding: 10px;
  }

  .certFindSearchBar {
    padding: 0 15px;
  }

  
  
