.certtitle {
    text-align: center;
    margin-top: 10%;
    font-size: 45px;
}

.certinput {
    width: 450px;
    height: 40px;
    margin-left: 30%;
    margin-top: 60px;  
}
.smallcert {
    margin-left: 230px;
    font-size: 40px;
    margin-top: -99px;
}






